.indexBody {
    font-family: 'Segoe UI', Tahoma, Geneva;
}

.indexHeader {
    display: flex;
    justify-content: center;
    color: orangered;
}

.indexMain {
    display: flex;
    flex-flow: column nowrap;
}

.indexDescription {
    align-self: center;
    padding: 0 0 25px 0;
    color: orangered;
}

.indexInputContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.indexInputElements {
    margin: 0 10px 20px 10px;
    background: orangered;
    border-radius: 10px;
    padding: 0 10px;
}

.indexInputElements>a {
    text-decoration: none;
}

.indexInputSubHeadings {
    color: white;
}

.indexVendorIcon {
    display: flex;
    justify-content: center;
    padding: 5px 0 30px 0;
    font-size: 200px;
}

.indexFoodIcons {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    padding: 0 0 20px 0;
}

.signinBody {
    font-family: 'Segoe UI', Tahoma, Geneva;
}

.signupBody {
    font-family: 'Segoe UI', Tahoma, Geneva;
    background: orangered;
}

.adminBody {
    font-family: 'Segoe UI', Tahoma, Geneva;
}

.signinHeader {
    display: flex;
    justify-content: center;
    color: orangered;
}

.adminHeader {
    display: flex;
    justify-content: space-between;
    color: orangered;
}

.signupHeader {
    display: flex;
    justify-content: center;
    color: white;
}

.signinMain {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: orangered;
    border-radius: 10px;
}

.signupMain {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: white;
    border-radius: 10px;
}

.signinDescription {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

}


.signupDescription {
    color: orangered;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

}

.signinForm {
    background: white;
    color: orangered;
    border-radius: 10px;
    margin: 10px 5px;
}

.signupForm {
    background: orangered;
    color: white;
    border-radius: 10px;
    margin: 10px 5px;
}

.addMealsForm {
    background: orange;
    color: white;
    border-radius: 10px;
    margin: 10px 0;
}

.addMenuForm {
    background: orange;
    color: white;
    border-radius: 10px;
    margin: 10px 0;
}

.editOrDeleteMenuForm {
    background: orangered;
    color: white;
    border-radius: 10px;
    margin: 10px 0;
}

.editOrDeleteMealsForm {
    background: orangered;
    color: white;
    border-radius: 10px;
    margin: 10px 0;
}

.signinFieldset {
    border: none;
}

.signupFieldset {
    border: none;
}

.addMealsFieldset {
    border: none;
}

.addMenuFieldset {
    border: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.editOrDeleteMealsFieldset {
    border: none;
}

.editOrDeleteMenuFieldset {
    border: none;
}

.signinLegend {
    display: flex;
    justify-content: center
}

.signupLegend {
    display: flex;
    justify-content: center
}

.addMealsLegend {
    display: flex;
    justify-content: flex-end;
}

.addMenuLegend {
    display: flex;
    justify-content: center;
}

.addMenuLegend>legend {
    margin-right: 25px;
}

.editOrDeleteMealsLegend {
    display: flex;
    justify-content: flex-end;
}

.editOrDeleteMenuLegend>legend {
    margin-right: 25px;
}

.editOrDeleteMenuLegend {
    display: flex;
    justify-content: center;
}

.signinButtonSection {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.signupButtonSection {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.addMealsButtonSection {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.addMenuButtonSection {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.editOrDeleteMealsButtonSection {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.editOrDeleteMenuButtonSection {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.signinButtonSection>a {
    max-width: 35%;
    margin-right: 2px;
    text-decoration: none;
    color: orangered;
}

.signupButtonSection>a {
    max-width: 36%;
    margin-right: 2px;
    text-decoration: none;
    color: white;
}

.signinButton {
    padding: 10px 22px;
    margin-right: 18px;
    border: none;
    border-radius: 4px;
    color: white;
    background: orangered;
}

.signupButton {
    padding: 10px 22px;
    margin-right: 18px;
    border: none;
    border-radius: 4px;
    color: orangered;
    background: white;
}

.addMealsButton {
    padding: 10px 94px;
    border: none;
    border-radius: 4px;
    color: orange;
    background: white;
}

.addMenuButton {
    padding: 10px 116px;
    border: none;
    border-radius: 4px;
    color: orange;
    background: white;
}

.editOrDeleteMealsButton {
    padding: 10px 35px;
    border: none;
    border-radius: 4px;
    color: orangered;
    background: white;
}

.editOrDeleteMenuButton {
    padding: 10px 46px;
    border: none;
    border-radius: 4px;
    color: orangered;
    background: white;
}

.editOrDeleteMealsButtonOne {
    margin-right: 10px;
}

.editOrDeleteMenuButtonOne {
    margin-right: 10px;
}

.signinInputSection {
    display: grid;
    grid-template-columns: 26% 74%;
    grid-gap: 10px;
    justify-content: center;
}

.signupInputSection {
    display: grid;
    grid-template-columns: 26% 74%;
    grid-gap: 10px;
    justify-content: center;
}

.addMealsInputSection {
    display: grid;
    grid-template-columns: 29% auto;
    grid-gap: 10px;
    justify-content: center;
}

.addMenuInputSection {
    display: grid;
    grid-template-columns: 28% auto;
    grid-gap: 10px;
}

.editOrDeleteMealsInputSection {
    display: grid;
    grid-template-columns: 29% auto;
    grid-gap: 10px;
    justify-content: center;
}

.editOrDeleteMenuInputSection {
    display: grid;
    grid-template-columns: 29% auto;
    grid-gap: 10px;
    justify-content: center;
}

.label {
    text-align: right;
}

.input {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: lightgrey;
    font-size: 15px;
}

.addMenuFileInput {
    border: none;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    background: orange;
}

.editOrDeleteMenuFileInput {
    border: none;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    background: orangered;
}

.dateInput {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: lightgrey;
    font-size: 15px;
}

.iconForMobile {
    display: none;
}

.iconForLargeScreen {
    display: block;
}

.adminMain {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.manageMeals {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-radius: 10px;
}

.manageMenu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-radius: 10px;
}

.manageMealOptions {
    background: orangered;
    color: white;
    border-radius: 10px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.setMenu {
    background: orangered;
    color: white;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.getSummary {
    background: orangered;
    color: white;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manageMealLink,
.setMenuLink,
.getSummaryLink {
    text-decoration: none;
}

.manageMealIcons,
.setMenuIcons,
.getSummaryIcons {
    font-size: 150px;
}


.adminHeaderHome {
    color: inherit;
}

.adminHomeHeading {
    color: inherit;
    text-decoration: none;
}

.adminHomeIcon {
    font-size: 40px;
}

.signOutIcon {
    padding-left: 17px;
}

.manageMealsMain {
    display: flex;
    flex-flow: column nowrap;
}

.setMenuMain {
    display: flex;
    flex-flow: column nowrap;
}


@media screen and (max-width: 715px) {

    .signinDescription>h2 {
        padding: 0 10px;
    }
}

@media screen and (max-width: 715px) {
    .signupDescription>h2 {
        padding: 0 10px;
    }
}

@media screen and (max-width: 500px) {
    .iconForLargeScreen {
        display: none;
    }

    .iconForMobile {
        display: block;
        font-size: 25px;
    }
}

@media screen and (min-width: 360px) {

    .manageMealSection,
    .setMenuSection {
        padding-right: 10px;
    }

    .getSummarySection {
        padding-top: 5px;
    }
}

.addMenuPic {
    width: 80%;
}

@media screen and (max-width: 460px) {

    .manageMealSection,
    .setMenuSection {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 460px) {

    .manageMealSection,
    .setMenuSection {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 320px) {

    .addMealsButton {
        padding: 10px 85px;
    }

    .addMenuButton {
        padding: 10px 120px;
    }

    .addMealsForm,
    .addMenuForm,
    .editOrDeleteMealsForm,
    .editOrDeleteMenuForm {
        padding-right: 10px;
    }

    .editOrDeleteMealsButton {
        padding: 10px 31px;
    }

    .editOrDeleteMenuButton {
        padding: 10px 51px;
    }
}

@media screen and (max-width: 406px) {

    .addMenuInputSection,
    .signinInputSection,
    .signupInputSection {
        grid-template-columns: auto;
    }

    .signupInputSection {
        grid-template-columns: auto;
    }

    .addMenuInputSection>.label,
    .signupInputSection>.label,
    .signinInputSection>.label {
        margin-top: 10px;
        text-align: left;
    }

    .signupButtonSection,
    .signinButtonSection {
        justify-content: center;
    }
}
